html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-xxl.bg-white.p-0 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    padding: 1.5rem 0;
}